<div class="about-head">
    <h2>ABOUT US:</h2>

<p>This website is used to upload the blogs along with their images that helps to the users to visualise the things more clearly.In this website ,basically we provide four types of
    category such as DANCING, SPORTS, MUSIC, EDUCATION. This will help to the user to categories their blogs .
</p>
</div>

<div class="about-middle">
    <ul class="about-mid">
        <h5>WHY SHOULD YOU USE THIS WEBSITE?</h5>
        <li>Easy to use.</li>
        <li>Categories the blogs</li>
        <li>Easily found latest search blogs.</li>
    </ul>
</div>

<div class="about-bottom">
    <p> DON'T KNOW ?  what to search , just click on " RANDOM BUTTON".</p>
</div>