<h1 class="pb-4">Explore Random</h1>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(blog!=''){ %> 
        
    <a href="/blog/<%= blog._id %>" class="col text-center cxategory__link">
        <div class="category__img category__img--large shadow">
            <img src="uploads/<%= blog.image %>" alt="<%= blog.title %>" loading="lazy">
        </div>
        <div class="pt-1"><%= blog.title %></div>
    </a>
    
    <% } else { %>
        <p>No items is found.</p>
    <% } %> %>
    
</div>